.form-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.form-row > div {
  flex: 1;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  color: #333;
}

.form-card p {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 12px;
  margin-top: 4px;
  font-size: 15px;
  color: #444;
}

.form-actions {
  display: flex;
  justify-content: center; 
  gap: 10px;
  margin-top: 20px;
  
  
}

.cancel-btn {
  background-color: #ffd580;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width:50%;
}

.cancel-btn:hover {
  background-color:#c69959;
}
